@media (min-width:1200px) {
    .col-xl-01{ width: 8.33%;}
    .col-xl-02{ width: 16.66%;}
    .col-xl-03{ width: 25%;}
    .col-xl-04{ width: 33.33% ;}
    .col-xl-05{ width: 41.66%;}
    .col-xl-06{ width: 50%;}
    .col-xl-07{ width: 58.33%;}
    .col-xl-08{ width: 66.66%;}
    .col-xl-09{ width: 75%;}
    .col-xl-10{ width: 83.33%;}
    .col-xl-11{ width: 91.66%;}
    .col-xl-12{ width: 100%;}
}
@media (max-width:1200px) {
    .display-max1200-none{display: none;}
    .display-max-1200-block{display: block;}
    .w100-max-1200{
        width: 100%;
        margin: auto;
    }
    section{
        width: 100%;
    }
    .col-max1200-01{ width: 8.33%;}
    .col-max1200-02{ width: 16.66%;}
    .col-max1200-03{ width: 25%;}
    .col-max1200-04{ width: 33.33% ;}
    .col-max1200-05{ width: 41.66%;}
    .col-max1200-06{ width: 50%;}
    .col-max1200-07{ width: 58.33%;}
    .col-max1200-08{ width: 66.66%;}
    .col-max1200-09{ width: 75%;}
    .col-max1200-10{ width: 83.33%;}
    .col-max1200-11{ width: 91.66%;}
    .col-max1200-12{ width: 100%;}
}
@media (max-width:1199px) {
    .col-lg-01{ width: 8.33%;}
    .col-lg-02{ width: 16.66%;}
    .col-lg-03{ width: 25%;}
    .col-lg-04{ width: 33.33% ;}
    .col-lg-05{ width: 41.66%;}
    .col-lg-06{ width: 50%;}
    .col-lg-07{ width: 58.33%;}
    .col-lg-08{ width: 66.66%;}
    .col-lg-09{ width: 75%;}
    .col-lg-10{ width: 83.33%;}
    .col-lg-11{ width: 91.66%;}
    .col-lg-12{ width: 100%;}
}

@media (max-width:991px) {
    .col-md-01{ width: 8.33%;}
    .col-md-02{ width: 16.66%;}
    .col-md-03{ width: 25%;}
    .col-md-04{ width: 33.33% ;}
    .col-md-05{ width: 41.66%;}
    .col-md-06{ width: 50%;}
    .col-md-07{ width: 58.33%;}
    .col-md-08{ width: 66.66%;}
    .col-md-09{ width: 75%;}
    .col-md-10{ width: 83.33%;}
    .col-md-11{ width: 91.66%;}
    .col-md-12{ width: 100%;}
}

@media (max-width:767px) {
    .col-sm-01{ width: 8.33%;}
    .col-sm-02{ width: 16.66%;}
    .col-sm-03{ width: 25%;}
    .col-sm-04{ width: 33.33% ;}
    .col-sm-05{ width: 41.66%;}
    .col-sm-06{ width: 50%;}
    .col-sm-07{ width: 58.33%;}
    .col-sm-08{ width: 66.66%;}
    .col-sm-09{ width: 75%;}
    .col-sm-10{ width: 83.33%;}
    .col-sm-11{ width: 91.66%;}
    .col-sm-12{ width: 100%;}
}

@media (max-width:575px) {
    .col-xs-01{ width: 8.33%;}
    .col-xs-02{ width: 16.66%;}
    .col-xs-03{ width: 25%;}
    .col-xs-04{ width: 33.33% ;}
    .col-xs-05{ width: 41.66%;}
    .col-xs-06{ width: 50%;}
    .col-xs-07{ width: 58.33%;}
    .col-xs-08{ width: 66.66%;}
    .col-xs-09{ width: 75%;}
    .col-xs-10{ width: 83.33%;}
    .col-xs-11{ width: 91.66%;}
    .col-xs-12{ width: 100%;}
}